<!doctype html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.anychart.com/css/latest/anychart-ui.min.css" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}"/>
        {% block spec_files %}{% endblock %}
        <title>{% block title %}Parser{% endblock %}</title>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Yurchenko
                </a>
            </div>
            <p class="navbar-text">Signed in as Mark Otto</p>
        </div>
    </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>