{% extends 'reader/base.html' %}
{% load static %}
{% block spec_files %}
    <script src="https://cdn.anychart.com/js/7.11.1/anychart-bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
{% endblock %}
{% block title %}Chart{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
             <div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">
                <form action="{% url 'reader:diagram'%}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-9 col-xs-9">
                            <div class="form-group">
                                <select class="form-control" name="region_id" >
                                    {% for one in regions %}
                                        {% if one.id == region.id %}
                                            <option selected value="{{ one.id }}">{{ one.name }}</option>
                                        {% else %}
                                            <option value="{{ one.id }}">{{ one.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-3">
                            <input class="btn btn-success" type="submit" value="check"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>

    {#  Another container for chart  #}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="container">
                </div>
            </div>
        </div>
    </div>
    <script>
        anychart.onDocumentReady(function() {

        // create column chart
        chart = anychart.column();

        // turn on chart animation
        chart.animation(true);

        // set chart title text settings
        chart.title('{{ region.name }}');

        // create area series with passed data
        var series = chart.column([
            {% for country in region.countries_set.all %}
            ['{{ country.name }}', '{{ country.parameter }}'],
            {% endfor %}
        ]);

        // set series tooltip settings
        series.tooltip().titleFormatter(function() {
            return this.x
        });

        series.tooltip().textFormatter(function() {
            return parseInt(this.value).toLocaleString()
        });
        series.tooltip().position('top').anchor('bottom').offsetX(0).offsetY(5);

        // set scale minimum
        chart.yScale().minimum(0);

        // set yAxis labels formatter
        chart.yAxis().labels().textFormatter("{%Value}");

        // tooltips position and interactivity settings
        chart.tooltip().positionMode('point');
        chart.interactivity().hoverMode('byX');

        // axes titles
        chart.xAxis().title('Countries');
        chart.yAxis().title('Parameters');

        // set container id for the chart
        chart.container('container');

        // initiate chart drawing
        chart.draw();

     });
    </script>
{% endblock %}
