{% extends 'reader/base.html' %}
{% block title %}Main{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <form action="{% url 'reader:parse' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>{{ form.non_field_errors }}</p>
                    <p>{{ form.docfile.label_tag }}</p>
                    <p>
                        {{ form.docfile.errors }}
                        {{ form.docfile }}
                    </p>
                    <p><input class="btn btn-success" type="submit" name="btn" value="PARSE"/></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}